/* * {
    border: solid 1px;
} */
h1 {
    font-size: 80px;
    font-family: "S-CoreDream-6Bold";
    font-weight: 900;
}
h2 {
    font-size: 60px;
    font-family: "S-CoreDream-6Bold";
    font-weight: 900;
}

@font-face {
    font-family: "S-CoreDream-6Bold";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff")
        format("woff");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "S-CoreDream-3Light";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}

section {
    width: 1920px;
    height: 1080px;
    background-color: #84b7a6;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.top-design {
    background-color: #c9cc88;
    width: 100%;
    height: 8%;
    position: absolute;
}
.bottom-design {
    background-color: #6e6876;
    height: 8%;
    width: 100%;
    position: absolute;
    bottom: 0%;
}
.subtitle {
    position: absolute;
    width: 300px;
    height: 60px;
    left: 50%;
    top: 15%;
    background-color: #f9f4e7;
    text-align: center;
    line-height: 50px;
    font-family: S-CoreDream-6Bold;
    /* font-weight: bold; */
    font-size: 30px;
    transform: translate(-50%, -50%);
}
#title {
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    color: white;
    transform: translate(-50%, -50%);
}
#title-comment {
    position: absolute;
    left: 50%;
    top: 70%;
    text-align: center;
    font-family: S-CoreDream-3Light;
    text-decoration: underline;
    font-size: 30px;
    color: white;
    transform: translate(-50%, -50%);
}

/* page2 */
.page2-title {
    position: absolute;
    text-align: center;
    left: 45%;
    color: white;
    font-size: 130px;
    margin: 50px;
    padding-bottom: 50px;
}
.order-title2 {
    padding: 10px;
}
.page2-title:nth-child(1) {
    top: 30%;
    transform: translate(-50%, -30%);
}
.page2-title:nth-child(2) {
    top: 50%;
    transform: translate(-50%, -45%);
}
.page2-title:nth-child(3) {
    top: 70%;
    transform: translate(-50%, -60%);
}
.page2 .background-small-circle {
    left: 36%;
    top: 40%;
    width: 450px;
    height: 450px;
    background-color: #c9cc88;
}
.page2 .background-big-circle {
    left: 57%;
    top: 60%;
    width: 500px;
    height: 500px;
    background-color: #6e6876;
}

.circle-group {
    right: 50%;
}
.circle-group .circle {
    position: absolute;
    width: 400px;
    height: 400px;
    border-radius: 100%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.circle-group .circle:nth-child(1) {
    left: 500px;
    background-color: #6e6876;
}
.circle-group .circle:nth-child(2) {
    left: 800px;
    background-color: #c9cc88;
}
.circle-group .circle:nth-child(3) {
    left: 1100px;
    background-color: #6e6876;
}
.circle-group .circle:nth-child(4) {
    left: 1400px;
    background-color: #c9cc88;
}

.content-title {
    position: absolute;
    text-align: center;
    font-size: 45px;
    color: white;
    top: 40%;
    left: 35%;
    font-family: "S-CoreDream-6Bold";
    transform: translate(-30%, -35%);
}
.content-text {
    position: absolute;
    text-align: center;
    font-size: 25px;
    top: 55%;
    left: 32%;
    color: white;
    font-family: "S-CoreDream-3light";
    transform: translate(-30%, -50%);
}

/* 페이지 표시 작은 원*/
.small-circle-group {
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translate(-50%, -5%);
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.small-circle-group .circle {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: 3px solid white;
    /* position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    top: 90%;
    transform: translate(-50%, -50%); */
}
.circle-line {
    border-top: 3px solid #444444;
    /* margin: 30px auto; */
    position: relative;
    width: 1200px;
    top: 40%;
    left: 55%;
    color: white;
    border-color: white;
    transform: translate(-50%, -50%);
}
.circle-line:after {
    content: "●";
    position: absolute;
    top: -10px;
    color: white;
    left: calc(0% - 8px);
}
.circle-line:before {
    content: "●";
    position: absolute;
    top: -10px;
    right: calc(0% - 8px);
    z-index: 100;
    color: white;
}

.page4 .background-small-circle {
    position: absolute;
    width: 600px;
    height: 600px;
    border-radius: 100%;
    top: 45%;
    left: 24%;
    background-color: #c9cc88;
    transform: translate(-50%, -50%);
}
.page4 .background-big-circle {
    position: absolute;
    width: 900px;
    height: 900px;
    border-radius: 100%;
    top: 50%;
    left: 80%;
    background-color: #6e6876;
    transform: translate(-50%, -50%);
}

.page4-content-title1 {
    font-size: 50px;
    top: 30%;
    left: 25%;
    position: absolute;
    color: white;
    transform: translate(-50%, -50%);
}
.page4-content-title2 {
    font-size: 50px;
    top: 45%;
    left: 75%;
    width: 600px;
    color: white;
    position: absolute;
    transform: translate(-50%, -50%);
}
.page4-content-title3 {
    font-size: 36px;
    color: white;
    top: 33%;
    left: 70%;
    width: 1000px;
    position: absolute;
    transform: translate(-50%, -50%);
}

.background-small-circle {
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 100%;
    top: 45%;
    left: 20%;
    background-color: #6e6876;
    transform: translate(-50%, -50%);
    z-index: 0;
}
.background-big-circle {
    position: absolute;
    width: 900px;
    height: 900px;
    border-radius: 100%;
    top: 50%;
    left: 93%;
    background-color: #c9cc88;
    transform: translate(-50%, -50%);
    z-index: -100;
}

.main-text-group {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 500px;
    transform: translate(-50%, -50%);
}
.subtext-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
}
.bullet-point {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    margin-right: 10px;
    background-color: white;
}
.subtext {
    width: 500px;
    font-size: 30px;
    color: white;
    font-family: "S-CoreDream-6Bold";
}
.page5-content-title {
    font-size: 40px;
    margin: 10px;
    color: white;
    font-family: "S-CoreDream-6Bold";
}
.text-section {
    margin-bottom: 50px;
}

.nlp-thesis-img {
    z-index: 300;
    position: absolute;
    border-radius: 5%;
    top: 15%;
    left: 14%;
    height: 500px;
    width: 400px;
}
.sumday-img {
    z-index: 300;
    position: absolute;
    border-radius: 5%;
    top: 36%;
    left: 60%;
    height: 250px;
    width: 450px;
}
.study-img {
    z-index: 300;
    position: absolute;
    border-radius: 5%;
    bottom: 5%;
    left: 60%;
    height: 250px;
    width: 350px;
}
.man1-img {
    z-index: 300;
    position: absolute;
    border-radius: 5%;
    bottom: 4%;
    right: 10%;
    /* height: 250px;
    width: 350px; */
}
#skills {
    position: absolute;
    bottom: 5%;
    left: 2%;
    font-size: 25px;
    font-weight: bold;
}

.page7 .subtext {
    font-size: 45px;
    font-weight: bold;
    font-family: "S-CoreDream-6Bold";
}
.page7 .text-section {
    margin-bottom: 30px;
}
.page7 .main-text-group {
    left: 38%;
}
.page7 .background-small-circle {
    left: 38%;
    top: 55%;
    width: 620px;
    height: 620px;
}
#title2 {
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    color: white;
    transform: translate(-50%, -50%);
}

.page2 .circle:nth-child(1) {
    background-color: white;
}
.page3 .small-circle-group .circle:nth-child(2) {
    background-color: white;
}
.page4 .circle:nth-child(3) {
    background-color: white;
}
.page5 .circle:nth-child(4) {
    background-color: white;
}
.page6 .circle:nth-child(5) {
    background-color: white;
}
.page7 .circle:nth-child(6) {
    background-color: white;
}
